@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('./fonts/caviar_dreams_bold-webfont.woff2') format('woff2'),
        url('./fonts/caviar_dreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('./fonts/caviardreams-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('./fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('./fonts/caviardreams_italic-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*---------general---------*/
* {
    font: 16px 'caviar_dreamsregular', Arial;
}

.bold {
    font-family: 'caviar_dreamsbold', Arial;
}

a {
    text-decoration: none;
}


:root {
    --home-grey: #dcdcdc;
    --fushia-light: #c10880;
    --fushia-dark: #6a225a;
    --house-grey: #e0dfdf;
    --dark-grey: #3e3d4b;
    --black: #000000;
}

/*-------HOMEPAGE-------*/

/*--------HEADER--------*/
#top-nav {
    background-color: var(--home-grey);
}

#top-nav .nav-link,
#top-nav span {
    padding: 0 5px;
}

#myModal i {
    font-size: 2rem;
    color: var(--dark-grey);
    cursor: pointer;
}

#myModal i:hover {
    color: var(--fushia-light);
}

#top-nav form button {
    margin-left: 35%;
}

#top-nav .container ul a {
    color: var(--black);
}

#header-main-nav {
    height: 300px;
    background-image: url(../images/actuel_2_chambres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




#header-main-nav .container .navbar {
    background-color: rgba(106, 34, 90, 0.5);
}

#header-main-nav .navbar-brand div p:first-child {
    font: 1.8rem 'caviar_dreamsbold', 'arial';
}

#header-main-nav .navbar-brand div p:nth-child(2) {
    font: 1rem 'caviar_dreamsbold', 'arial';
    line-height: 50%;
}

#header-main-nav .navbar-nav a {
    font: 1.4rem 'caviar_dreamsbold', 'arial';
    color: white;
}

.current-page {
    text-decoration: underline;
    font-size: 3rem;
}

/*------------MAIN------------*/

main {
    position: relative;
}

#bienvenue h1 {
    font: 2rem 'caviar_dreamsbold', 'arial';
}

#bienvenue {
    margin-top: 80px;
    position: relative;
    padding: 40px;
}

#bienvenue img {
    max-width: 300px;
}

#contact-us {
    position: fixed;
    right: 0;
    z-index: 100000;
}

#contact-us button {
    width: 50px;
    height: 50px;
    top: 0;
    border-width: 1px 0 1px 1px;
    border-color: #000000;
    border-radius: 0;
}

#phone {
    transition: width 0.2s;
}

#phone:hover {
    width: 245px;
    background-color: black;
    color: white;
}

#phone a {
    display: none;
    text-decoration: none;
    font: 1.4rem 'caviar_dreamsbold', 'arial';
}


#phone:hover a {
    display: block;
    color: white;
}

/*---nos maisons---*/
#nos-maisons h2 {
    font: 2.4rem 'caviar_dreamsbold', 'arial';
    margin-bottom: 3rem;
}

#nos-maisons .card {
    width: 31%;
    margin-bottom: 2rem;
}

#nos-maisons h4,
#nos-maisons p {
    font: 1.4rem 'caviar_dreamsbold', 'arial';
}

.description {
    margin: 2rem 0 0;
}

#nos-maisons a {
    text-decoration: none;
    color: black;
}

#financement img {
    height: 100%;
}

#financement p {
    font-size: 2rem;
    padding: 1rem;
}

#financement a {
    font-size: 1.3rem;
    font: 1.4rem 'caviar_dreamsbold', 'arial';
    background-color: white;
}

#financement a:hover {
    background-color: black;
    color: white;
}

#nos-maisons button {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

#nos-maisons button:hover {
    background-color: black;
    color: white;
}

/*---------FOOTER--------*/
footer {
    position: relative;
}

footer>img {
    width: 100%;
}

#footer-main {
    position: absolute;
    top: 6rem;
    width: 90%;
    background-color: white;
}

#footer-main i {
    color: var(--home-grey);
    font-size: 2rem;
}

#adresse p:first-of-type {
    font-size: 2rem;
}

#adresse p,
#adresse a {
    font-size: 1.2rem;
}

#adresse a {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 20px;
}

#footer-black {
    width: 40%;
    background-color: var(--black);
    padding: 70px 0;
    position: absolute;
    top: -50px;
    left: 30%;
}

#footer-black img {
    margin-right: 1rem;
}

#footer-black>div {
    color: white;
}

#footer-black>div p:first-child {
    font-size: 3rem;
}

#footer-black>div p:last-child {
    font-size: 1.5rem;
    line-height: 0.5;
}

@media (max-width: 768px) {
    /*---header---*/

    #header-main-nav {
        background-image: none;
        height: auto;
    }

    #header-main-nav .container,
    #header-main-nav nav {
        max-width: 100%;
        margin: 0;
    }

    #header-main-nav .container,
    #header-main-nav {
        padding: 0;
    }

    /*----main----*/

    #bienvenue h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    #nos-maisons .card {
        width: 48%;
    }

}