@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('caviar_dreams_bold-webfont.woff2') format('woff2'),
        url('caviar_dreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('./fonts/caviardreams-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('./fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('./fonts/caviardreams_italic-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*---------general---------*/
* {
    font: 16px 'caviar_dreamsregular'Arial;
}

a {
    text-decoration: none;
}


:root {
    --home-grey: #dcdcdc;
    --fushia-light: #c10880;
    --fushia-dark: #6a225a;
    --house-grey: #e0dfdf;
    --dark-grey: #3e3d4b;
    --black: #000000;
}

/*-------HOMEPAGE-------*/

/*--------HEADER--------*/
#top-nav {
    background-color: var(--home-grey);
}

#top-nav .nav-link,
#top-nav span {
    padding: 0 5px;
}

#myModal i {
    font-size: 2rem;
    color: var(--dark-grey);
    cursor: pointer;
}

#myModal i:hover {
    color: var(--fushia-light);
}

#top-nav form button {
    margin-left: 35%;
}

#top-nav .container ul a {
    color: var(--black);
}

#header-main-nav {
    height: 300px;
    background-image: url(../images/actuel_2_chambres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




#header-main-nav .container .navbar {
    background-color: rgba(106, 34, 90, 0.5);
}

#header-main-nav