@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('./fonts/caviar_dreams_bold-webfont.woff2') format('woff2'),
        url('./fonts/caviar_dreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('./fonts/caviardreams-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('./fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('./fonts/caviardreams_italic-webfont.woff2') format('woff2'),
        url('./fonts/caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*---------general---------*/
* {
    font: 16px 'caviar_dreamsregular', Arial;
}


.bold {
    font-family: 'caviar_dreamsbold', Arial;
}

a {
    text-decoration: none;
}

.pad-top {
    padding-top: 90px;
}

:root {
    --home-grey: #dcdcdc;
    --fushia-light: #c10880;
    --fushia-dark: #6a225a;
    --house-grey: #e0dfdf;
    --dark-grey: #3e3d4b;
    --black: #000000;
}

/*-------HOMEPAGE-------*/

/*--------HEADER--------*/
#top-nav {
    background-color: var(--home-grey);
}

#top-nav .nav-link,
#top-nav span {
    padding: 0 5px;
}

#myModal i {
    font-size: 2rem;
    color: var(--dark-grey);
    cursor: pointer;
}

#myModal i:hover {
    color: var(--fushia-light);
}

#top-nav form button {
    margin-left: 35%;
}

#top-nav .container ul a {
    color: var(--black);
}

#header-main-nav,
#header-main-nav .container-fluid {
    padding: 0;
}

.accueil {
    height: 300px;
    background-image: url(../images/image-bandeau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#header-main-nav .navbar {
    background-color: rgba(106, 34, 90, 0.5);
}

.nav-fuschia {
    background-color: var(--fushia-dark);
}


#header-main-nav .navbar-brand div p:first-child {
    font: 1.8rem 'caviar_dreamsbold', 'arial';
}

#header-main-nav .navbar-brand div p:nth-child(2) {
    font: 1rem 'caviar_dreamsbold', 'arial';
    line-height: 50%;
}

#header-main-nav .navbar-nav a {
    font: 1.4rem 'caviar_dreamsbold', 'arial';
    color: white;
}

.current-page {
    text-decoration: underline;
    font-size: 3rem;
}

/*------------MAIN------------*/

main {
    position: relative;
}

#bienvenue h1 {
    font: 2rem 'caviar_dreamsbold', 'arial';
}

#bienvenue {
    margin-top: 80px;
    position: relative;
    padding: 40px;
}

#bienvenue img {
    max-width: 300px;
}

#contact-us {
    position: fixed;
    right: 0;
    z-index: 100000;

}

.contactUs {
    top: 400px;
}

.contUs {
    top: 120px;
}

#contact-us button {
    width: 50px;
    height: 50px;
    top: 0;
    border-width: 1px 0 1px 1px;
    border-color: #000000;
    border-radius: 0;
}

#phone {
    transition: width 0.2s;
}

#phone:hover {
    width: 245px;
    background-color: black;
    color: white;
}

#phone a {
    display: none;
    text-decoration: none;
    font: 1.4rem 'caviar_dreamsbold', 'arial';
}


#phone:hover a {
    display: block;
    color: white;
}

/*---nos maisons---*/
#nos-maisons h2 {
    font: 2.4rem 'caviar_dreamsbold', 'arial';
    margin-bottom: 3rem;
}

#nos-maisons .card {
    width: 31%;
    margin-bottom: 2rem;
}

#nos-maisons h4,
#nos-maisons p {
    font: 1.4rem 'caviar_dreamsbold', 'arial';
}

.description {
    margin: 2rem 0 0;
}

#nos-maisons a {
    text-decoration: none;
    color: black;
}

#financement img {
    height: 100%;
}

#financement p {
    font-size: 2rem;
    padding: 1rem;
}

#financement a {
    font-size: 1.3rem;
    font: 1.4rem 'caviar_dreamsbold', 'arial';
    background-color: white;
}

#financement a:hover {
    background-color: black;
    color: white;
}

#nos-maisons button {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

#nos-maisons button:hover {
    background-color: black;
    color: white;
}

/*---------FOOTER--------*/
footer {
    position: relative;
}

footer>img {
    width: 100%;
}

#footer-main {
    position: absolute;
    top: 6rem;
    width: 90%;
    background-color: white;
}

#footer-main i {
    color: var(--home-grey);
    font-size: 2rem;
}

.adresse p:first-of-type {
    font-size: 2rem;
}

.adresse p {
    font-size: 1rem;
}

.adresse a {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 1.2rem;
}

#footer-black {
    width: 40%;
    background-color: var(--black);
    padding: 70px 0 80px;
    position: absolute;
    top: -50px;
    left: 30%;
}

#black-top {
    margin-bottom: 4rem;
}

#black-social {
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#black-social i {
    color: black;
    font-size: 1.6rem;
}

#footer-black img {
    margin-right: 1rem;
}

#footer-black>div {
    color: white;
}

#footer-black>div p:first-child {
    font-size: 3rem;
}

#footer-black>div p:last-child {
    font-size: 1.5rem;
    line-height: 0.5;
}

footer .adresse button {
    background-color: white;
    border: 1px solid black;
    font-size: 1.5rem;
}

footer .adresse button:hover,
footer .adresse a:hover {
    background-color: var(--black);
    color: white;
    text-decoration: none;
}

#inscription p {
    font-size: 1.6rem;
}

#footer-bottom {
    background-color: rgba(235, 235, 235, 0.8);
    position: absolute;
    bottom: 0;
    font-size: 2rem;
}

#footer-bottom p,
#footer-bottom a {
    font-size: 1.3rem;
}

#footer-bottom a {
    text-decoration: none;
    color: var(--black);
}

/*______________________________________APROPOS PAGE______________*/

.d-button {
    width: 100%;
    background-color: var(--home-grey) !important;
}

#apropos button {
    font-size: 1.5rem;
    border-radius: 0;

}

#apropos button:focus {
    box-shadow: none;
}

#apropos p,
#apropos li {
    font-size: 1.4rem;
}

#apropos .dropdown-item-text {

    width: 100%;
}

#apropos .d-button i {
    font-size: 1.9rem;
    background-color: rgb(182, 181, 181);
    border-radius: 50%;
}

#apropos .dropdown-item-text ul li {
    list-style-type: none;
}

#apropos section article #dtext img {
    background-color: var(--fushia-light);
    max-height: 150px;
}

#apropos section:last-child {
    margin-bottom: 70px;
}


/*------------------CONTACT PAGE-----------*/

#contact-page article h1 {
    font-size: 2.4rem;
}

#contact-page article div img {
    height: 100%;
}

#contact-page article div p {
    font-size: 1.4rem;
}

#contact-page .form-group input,
#contact-page .form-check label,
#contact-page label {
    font-size: 2rem;
}

#contact-page .form-check input[type=checkbox] {
    transform: scale(1.5);
    margin-top: 14px;
}

#contact-page button[type=submit] {
    font-size: 1.3rem;
    background-color: white;
    color: black;
}

#contact-page button[type=submit]:hover {
    background-color: black;
    color: white;
}


@media (max-width: 768px) {
    /*---header---*/

    #header-main-nav {
        background-image: none;
        height: auto;
        position: relative;
    }

    #header-main-nav .container,
    #header-main-nav nav {
        max-width: 100%;
        margin: 0;
    }

    #header-main-nav .container,
    #header-main-nav {
        padding: 0;
    }

    /*----main----*/

    #bienvenue h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    #nos-maisons .card {
        width: 48%;
    }

    /*-----footer-------*/

    #footer-main i {
        font-size: 1rem;
    }

    #footer-main {
        top: 3rem;
    }

    .adresse {
        width: 25%;
    }

    .adresse p,
    #footer-black>div p:last-child,
    footer .adresse button {
        font-size: 0.7rem;
    }

    .adresse a,
    #footer-bottom p,
    #footer-bottom a {
        font-size: 0.6rem;
    }

    #footer-black>div p:first-child {
        font-size: 1.5rem;
    }

    #footer-black {
        padding: 30px 0 40px;
        top: -20px;
        left: 30%;

    }

    #inscription p,
    #black-social i,
    #footer-main i {
        font-size: 1rem;
    }

    .adresse p:first-of-type,
    #footer-black>div p:first-child {
        font-size: 1.2rem;
    }

    #black-top {
        padding-bottom: 5px;
        margin-bottom: 1rem;
    }

    /*--------------A PROPOS-------*/
    #apropos h1 {
        font-size: 2rem;
    }

    #apropos p,
    #apropos li {
        font-size: 1.1rem;
    }

    /*------------------CONTACT PAGE-----------*/

    #contact-page article h1 {
        font-size: 1.6rem;
    }


    #contact-page article div p {
        font-size: 0.8rem;
    }

    #contact-page .form-group input,
    #contact-page .form-check label,
    #contact-page label {
        font-size: 1rem;
    }

    #contact-page .form-check input[type=checkbox] {
        transform: scale(1.1);
    }

    #contact-page button[type=submit] {
        font-size: 0.8rem;
    }
}